@model MvcMovie.Data.Models.CryptoPrice

@{
    ViewData["Title"] = "AddCryptoToHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddCryptoToHistory</h1>

<h4>CryptoPrice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCryptoToHistory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CryptoName" class="control-label"></label>
                <input asp-for="CryptoName" class="form-control" />
                <span asp-validation-for="CryptoName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeTracked" class="control-label"></label>
                <input asp-for="TimeTracked" class="form-control" />
                <span asp-validation-for="TimeTracked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

