@model List<MvcMovie.Models.CryptonatorClass>

@{
    ViewData["Title"] = "BTCPrice";
}
    <meta http-equiv="refresh" content="30" />

<h1 class="display-4">Bitcoin Price</h1>
<style>
    h1 {
        color: black;
    }

    h2 {
        color: darkred;
    }
</style>

<div class="text-center">

    @for (int i = 0; i < Model.Count(); i++)
    {
        <h2>
            <font size="25" face="Arial" color="black">

                <h1>@Html.DisplayFor(modelItem => Model[i].ticker.@base) : </h1>

                <h2>@Html.DisplayFor(modelItem => Model[i].ticker.price) USD</h2>

            </font>
        </h2>
    }


<h2>
    <font size="1" face="Arial" color="grey">Price refreshes every 30 seconds</font>
</h2>

    <button class="align-baseline" color:black;border-radius:500px;" type="button" onclick="location.href = 'https://localhost:44316/Crypto/'">Return to the previous page</button>

    <button class="align-baseline" color:black;border-radius:500px;" type="button" onclick="location.href = 'https://localhost:44316'">Return to home page</button>
</div>

