@model List<MvcMovie.Models.CryptonatorClass>


<meta http-equiv="refresh" content="30"/>

<div class="text-center">
    <h1>CRYPTO CURRENCY</h1>

    <button style=" color:black;border-radius:100px;" type="button" onclick="location.href = 'https://localhost:44316/Crypto/BTCPRICE'">BTC</button>
    <button style=" color:black;border-radius:100px;" type="button" onclick="location.href = 'https://localhost:44316/Crypto/XRPPRICE'">XRP</button>
</div>
