@model List<MvcMovie.Models.CryptonatorClass>


    <div class="text-center">
        <h1 class="display-4">Cryptocurrency</h1>
        <h2>Please choose a cryptocurrency:</h2>
        <button class="align-baseline" color:black;border-radius:100px;" type="button" onclick="location.href = 'https://localhost:44316/Crypto/BTCPRICE'">Bitcoin</button>
        <button class="align-baseline" color:black;border-radius:500px;" type="button" onclick="location.href = 'https://localhost:44316/Crypto/XRPPRICE'">XRP</button>
        <p></p>
        <button class="align-baseline" color:black;border-radius:500px;" type="button" onclick="location.href = 'https://localhost:44316'">Home</button>
    </div>
