@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Hello Angel</h1>
    <p>Click <a href="https://api.cryptonator.com/api/ticker/btc-usd">here</a> to see cryptonator's btc ticker information.</p>
</div>
